{% set page = {
  title: "button_bgr",
  description: "button с заливкой"
} %}

{% import "./templates.njk" as button %}

{% extends fesg.components %}

{% block body %}

  {% section title="button_bgr", description="Кнопка с белым текстом на контрастном фоне" %}
    {{ button.bgr("- кнопка2") }}
  {% code %}
    {{ button.bgr("- кнопка") }}
  {% endsection %}

{% endblock %}
