{% set page = {
  title: "select_custom",
  description: "кастомный селект"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

  {% section title="Clear" %}
    {{ element.clear() }}
  {% code %}
    {{ element.clear() }}
  {% endsection %}

{% endblock %}
