$accentColor: #2f80ed;
$textColor: #666;

.select_custom {
  position: relative;
  max-width: 330px;
  margin-top: 5px;
  border: 2px solid #E0E0E0;
  padding: 15px 18px;
  padding-right: 30px;
  color: #333;

  &.isCompleted {
    color: $textColor;

    .option {
      color: $textColor;
    }

    >.fa {
      color: $accentColor;
    }
  }

  .select__optionList {
    position: absolute;
    display: none;
    width: calc(100% - 2px);
    top: 45px;
    left: -1px;
    width: calc(100% + 2px);
    background: #FCFCFC;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 99;
  }

  .option {
    position: relative;
    margin-bottom: -1px;
    padding: 15px 18px;
    padding-right: 30px;
    color: #666;
    cursor: pointer;

    &:hover {
      background-color: $accentColor;
      color: #fff;
    }
  }
}
