{% macro clear (name) %}
<div class="select select_custom select_icon js_select">
  <div class="select__sheckedValue">Выберите вариант</div>
  <ul class="select__optionList">
    <li class="option form__option" data-value="1">Вариант 1</li>
    <li class="option form__option" data-value="2">Вариант 2</li>
    <li class="option form__option" data-value="3">Вариант 3</li>
    <li class="option form__option addElement" data-value="4">Вариант 4</li>
  </ul>
</div>
{% endmacro %}
