$main: #2F80ED;
$default: #C4C4C4;
$text: #666;
$background: #fff;

.input {
  box-sizing: border-box;
  border: 2px solid transparent;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 1;
  background-color: $background;
  color: $text;

  @media screen and (min-width: $tabletsPortraitScreen) {
    padding: 14px 18px;
    font-size: 14px;
  }

  &:focus {
    border: 2px solid $main;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

input::-webkit-input-placeholder {
  color: $default;
}
