{% macro input (placeholder, modificator) %}
  <input type="text" class="input" placeholder="{{ placeholder }}">
{% endmacro %}

{% macro input_disabled (placeholder, modificator) %}
  <input type="text" class="input" placeholder="{{ placeholder }}" disabled>
{% endmacro %}

{% macro clear (name) %}
<form action="" class="form">
  <div class="form__item">
    <label class="form__label form__label_border" >
      <div class="form__inputName">Имя</div>
      <input type="text" class="input js_inputFill" placeholder="Например, Михаил" disabled>
    </label>
  </div>
</form>
{% endmacro %}

{% macro clear_nonBorder (name) %}
<form action="" class="form">
  <div class="form__item">
    <label class="form__label" >
      <div class="form__inputName">Имя</div>
      <input type="text" class="input js_inputFill" placeholder="Например, Михаил">
    </label>
  </div>
</form>
{% endmacro %}


{% macro borderRad (name) %}
<form action="" class="form">
  <div class="form__item">
    <label class="form__label form__label_radius" >
      <div class="form__inputName">Имя</div>
      <input type="text" class="input js_inputFill" placeholder="Например, Михаил" >
    </label>
  </div>
</form>
{% endmacro %}


{% macro borderCircle (name) %}
<form action="" class="form">
  <div class="form__item">
    <label class="form__label form__label_circle" >
      <div class="form__inputName">Имя</div>
      <input type="text" class="input js_inputFill" placeholder="Например, Михаил" >
    </label>
  </div>
</form>
{% endmacro %}


{% macro borderTransform (name) %}
<form action="" class="form">
  <div class="form__item">
    <label class="form__label form__label_transform" >
      <input type="text" class="input js_inputFill"  required>
      <div class="form__inputName">Имя</div>
    </label>
  </div>
</form>
{% endmacro %}
