{% macro input (placeholder, id, modificator) %}
<input type="text" class="input {{modificator}}" placeholder="{{ placeholder }}" id="{{ id }}">
{% endmacro %}

{% macro input_disabled (placeholder, id, modificator) %}
<input type="text" class="input" placeholder="{{ placeholder }}" disabled>
{% endmacro %}
