{% set page = {
  title: "button_brdr_light",
  description: "button с радиусом 5px"
} %}

{% import "./templates.njk" as button %}

{% extends fesg.components %}

{% block body %}

  {% section title="Кнопка с радиусом" %}
    {{ button.bgr("") }}
  {% code %}
    {{ button.bgr("") }}
  {% endsection %}

{% endblock %}
