{% set page = {
  title: "starts",
  description: "звёздочки рейтинга: статика и с возможностью выбора"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

  {% section title="starts" %}
    <h2>Без возможности взаимодействовать:</h2>
    {{ element.bgr('1_', '', 'disabled') }}
    <h2>Интерактивный:</h2>
    {{ element.bgr('2_', 'stars_interactive') }}
  {% code %}
    {{ element.bgr('1_', '', 'disabled') }}
    {{ element.bgr('2_', 'stars_interactive') }}
  {% endsection %}

{% endblock %}
