.stars {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1rem;
  justify-content: space-around;
  text-align: center;
  width: 5rem;
}

.stars input {
  display: none;
}

.stars label {
  color: #ccc;
  cursor: pointer;
}

.stars :checked ~ label {
  color: #FFB400;
}

.stars label:hover,
.stars label:hover ~ label {
  cursor: default;
}

.stars_interactive label:hover,
.stars_interactive label:hover ~ label {
  color: #FFB400;
  cursor: pointer;
}
