{% macro bgr (prefix, modificator, disabled) %}
<div class="stars {{modificator}}">
  <input type="radio" id="{{prefix}}_5-stars" name="{{prefix}}_rating" value="5" {{disabled}}>
  <label for="{{prefix}}_5-stars" class="star">&#9733;</label>
  <input type="radio" id="{{prefix}}_4-stars" name="{{prefix}}_rating" value="4" {{disabled}}>
  <label for="{{prefix}}_4-stars" class="star">&#9733;</label>
  <input type="radio" id="{{prefix}}_3-stars" name="{{prefix}}_rating" value="3" checked>
  <label for="{{prefix}}_3-stars" class="star">&#9733;</label>
  <input type="radio" id="{{prefix}}_2-stars" name="{{prefix}}_rating" value="2" {{disabled}}>
  <label for="{{prefix}}_2-stars" class="star">&#9733;</label>
  <input type="radio" id="{{prefix}}_1-star" name="{{prefix}}_rating" value="1" {{disabled}}>
  <label for="{{prefix}}_1-star" class="star">&#9733;</label>
</div>
{% endmacro %}
