.button_bgr {
  background-color: $blue;
  color: $white;

  &:hover {
    color: #fff;
    background-color: $darkblue;
  }

  &:focus {
    color: #fff;
    background-color: $darkblue;
    outline: 2px solid $blue;
    outline-offset: -2px;
  }

  &:active {
    color: $white;
    background-color: $darkerblue;
    outline: 0;
  }
}
