$backgroundColor: #ED1F1F;
$textColor: #fff;
$ativeBorderColor: #F75454;

.button_bgr {
  background-color: $backgroundColor;
  color: $textColor;

  &:hover {
    color: $textColor;
    background-color: $ativeBorderColor;
  }

  &:focus {
    color: $textColor;
    background-color: $ativeBorderColor;
  }

  &:active {
    color: $textColor;
    background-color: $ativeBorderColor;
    outline: 0;
  }
}
