$borderColor: #C91B1B;
$ativeBorderColor: #F75454;

.button_brdr {
  border-color: $borderColor;

  &:hover {
    color: #fff;
    background-color: $ativeBorderColor;
    border-color: $borderColor;
  }

  &:focus {
    color: #fff;
    background-color: $ativeBorderColor;
    border-color: $borderColor;
  }

  &:active {
    color: #fff;
    background-color: $ativeBorderColor;
    border-color: transparent;
  }
}
