.button_brdr {
  border: 2px solid $blue;

  &:hover {
    color: #fff;
    background-color: $darkblue;
    border: 2px solid transparent;
  }

  &:focus {
    color: #fff;
    background-color: $darkblue;
    border: 2px solid $blue;
  }

  &:active {
    color: #fff;
    background-color: $darkerblue;
    border: 2px solid transparent;
  }
}
