$white: #fff;
$activeColor: #C91B1B;
$ativeBorderColor: #F75454;

$fontSize: 18px;
$verticalPadding: 16px;
$horizontalPadding: 30px;

$borderSize: 4px;

.button {
  display: inline-block;
  padding: $verticalPadding $horizontalPadding;
  border: $borderSize solid transparent;

  font-size: $fontSize;
  line-height: 1.2;
  text-decoration: none;

  background-color: transparent;
  color: $activeColor;
  border-radius: 0;
  outline: 0;

  &:hover {
    color: #fff;
    background-color: $activeColor;
  }

  &:focus {
    color: #fff;
    background-color: $activeColor;
    border-color: $ativeBorderColor;
  }

  &:active {
    color: $activeColor;
    background-color: transparent;
    border-color: $ativeBorderColor;
  }
}
