$white: #fff;
$blue: #2f80ed;
$darkblue: #2361b2;
$darkerblue: #1a4884;

.button {
  display: inline-block;
  padding: 14px 40px;
  border: 2px solid transparent;

  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;

  background-color: transparent;
  color: $blue;
  border-radius: 0;
  outline: 0;

  &:hover {
    color: #fff;
    background-color: $blue;
  }

  &:focus {
    color: #fff;
    background-color: $blue;
    border: 2px solid $darkblue;
  }

  &:active {
    color: $blue;
    background-color: transparent;
    border: 2px solid $darkblue;
  }
}
