{% macro clear (name) %}
  <button class="button js-button">Кнопка {{ name }}</button>
{% endmacro %}


{% macro link (name) %}
  <a href="#" class="button js-button">Кнопка {{ name }}</a>
{% endmacro %}