{% macro clear (name, modificator) %}
  <button class="button {{ modificator }}">{{ name }}</button>
{% endmacro %}


{% macro link (name) %}
  <a href="#" class="button js-button">{{ name }}</a>
{% endmacro %}
