{% macro clear (modificator) %}
  <div class="contextMenu {{modificator}} js-contextMenu">
    <button class="contextMenu__button" type="button">Фильтры</button>
    <div class="contextMenu__content">
      <div class="contextMenu__wrap">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
{% endmacro %}
