{% set page = {
  title: "button_shdw",
  description: "button с тенью"
} %}

{% import "./templates.njk" as button %}

{% extends fesg.components %}

{% block body %}

  {% section title="Кнопка с тенью" %}
    {{ button.clear("- кнопка2") }}
  {% code %}
    {{ button.clear("- кнопка") }}
  {% endsection %}

  {% section title="Кнопка с тенью + рамка" %}
    {{ button.element("- кнопка2") }}
  {% code %}
    {{ button.element("- кнопка") }}
  {% endsection %}

  {% section title="Кнопка с тенью + залитый фон" %}
    {{ button.bgr("- кнопка2") }}
  {% code %}
    {{ button.bgr("- кнопка") }}
  {% endsection %}

{% endblock %}
