{% macro clear (name) %}
  <button class="button button_shdw">Кнопка: {{ name }}</button>
{% endmacro %}

{% macro element (name) %}
  <button class="button button_brdr button_shdw">Кнопка: {{ name }}</button>
{% endmacro %}

{% macro bgr (name) %}
  <button class="button button_bgr button_shdw">Кнопка: {{ name }}</button>
{% endmacro %}
