{% macro bgr (name) %}
<div class="contactsCard">
  <div class="contactsCard__wrap">
    <div class="contactsCard__mapContainer">
      <div class="contactsCard__map" id="contactsCardMap"></div>
    </div>
    <div class="contactsCard__contentContainer">
      <div class="contactsCard__title">Контакты</div>
      <ul class="contactsCard__list">
        <li class="contactsCard__listItem">
          <span class="contactsCard__listItemName">Телефон</span>
          <span class="contactsCard__listItemData">
            <a href="tel:+73833003030">8 (383) 300-30-30</a>
          </span>
        </li>

        <li class="contactsCard__listItem">
          <span class="contactsCard__listItemName">E-mail</span>
          <span class="contactsCard__listItemData">
            <a href="mailto:mail@mail.ru">mail@mail.ru</a>
          </span>
        </li>

        <li class="contactsCard__listItem">
          <span class="contactsCard__listItemName">Фактический адрес</span>
          <span class="contactsCard__listItemData">630108, г.Новосибирск,<br> ул. Станционная 36 офис 109</span>
        </li>

        <li class="contactsCard__listItem">
          <span class="contactsCard__listItemName">Юридический адрес</span>
          <span class="contactsCard__listItemData">630108, г.Новосибирск,<br> ул. Станционная 36 офис 109</span>
        </li>

        <li class="contactsCard__listItem">
          <span class="contactsCard__listItemName">Время работы</span>
          <span class="contactsCard__listItemData">пн-пт, 9:00-18:00</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<script>
var head = document.getElementsByTagName('head')[0];
var insertBefore = head.insertBefore;

head.insertBefore = function (newElement, referenceElement) {
  if (newElement.href && newElement.href.indexOf('https://fonts.googleapis.com/css?family=Roboto') === 0) {
    return;
  }
  insertBefore.call(head, newElement, referenceElement);
};

var initMap = function () {
  var coordinates = {
    lat: 55.042241,
    lng: 83.02015
  };

	var map = new google.maps.Map(document.getElementById('contactsCardMap'), {
		center: coordinates,
		zoom: 15,
		scrollwheel: false
	})

  var marker = new google.maps.Marker({
    position: coordinates,
    map: map
  });

	map.setOptions();
}

var mapScript = document.createElement('SCRIPT');
mapScript.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBsO9dDK3dBryIYu2UpulzQ7VxBDFxAR10&callback=initMap';
document.querySelector('body').appendChild(mapScript);
</script>
{% endmacro %}
