{% set page = {
  title: "textarea_brdr_strong",
  description: "textarea с бордером радиусом 25px"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

  {% section title="textarea_brdr_strong" %}
    {{ element.textarea("Ваше имя") }}
  {% code %}
    {{ element.textarea("Ваше имя") }}
  {% endsection %}

  {% section title="textarea_brdr_strong[disabled]" %}
    {{ element.textarea_disabled("Ваше имя") }}
  {% code %}
    {{ element.textarea_disabled("Ваше имя") }}
  {% endsection %}

{% endblock %}
