{% set page = {
  title: "roller",
  description: "ролик на все случаи жизни 😎"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

{% section title="Одиночный" %}
{{ element.one('singleRoller') }}
<br>
<br>
{{ element.two('doubleRoller') }}
{% code %}
{{ element.one('singleRoller') }}
{% endsection %}

{% endblock %}
