{% macro one (id) %}
<div class="roller" id="{{id}}">
  <div class="roller__shaft">
    <div class="roller__shaft-indicator"></div>
    <div class="roller__circle"></div>
  </div>
</div>
<br>
<br>
<div>
  <input type="text" name="{{id}}_start" value="">
</div>
{% endmacro %}

{% macro two (id) %}
<div class="roller" id="{{id}}">
  <div class="roller__shaft">
    <div class="roller__shaft-indicator"></div>
    <div class="roller__circle"></div>
    <div class="roller__circle roller__circle_2"></div>
  </div>
</div>
<br>
<br>
<div>
  <input type="text" name="{{id}}_start" value="">
</div>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
  setTimeout(function() {
    /// инициализация
    var singleRoller = document.getElementById('singleRoller');
    var singleRollerInput = document.querySelector('[name=singleRoller_start]');

    var moveHandler = function (val1, val2, input) {
      singleRollerInput.value = val1 + '/' + val2;
    };

    var mouseUpHandler = function (val1, val2, input) {
      console.log('onMouseUp');
    };

    var singleRollerProps = {
      parentElement: singleRoller,
      minValue: 200,
      maxValue: 8000,
      step: 200,
      onMove: moveHandler,
      onMouseUp: mouseUpHandler
    };
    window.roller(singleRollerProps);

    // инициализация двойного ролика

    var doubleRoller = document.getElementById('doubleRoller');
    var doubleRollerInput = document.querySelector('[name=doubleRoller_start]');

    var moveHandler2 = function (val1, val2, input) {
      console.log('moveHandler2', val1, val2, input);
      doubleRollerInput.value = val1 + '/' + val2;
    };

    var mouseUpHandler2 = function (val1, val2, input) {
      console.log('onMouseUp2');
    };

    var doubleRollerProps = {
      parentElement: doubleRoller,
      minValue: 0,
      maxValue: 180000,
      secondRoller: true,
      startValue: 501,
      endValue: 120000,
      step: 1000,
      onMove: moveHandler2,
      onMouseUp: mouseUpHandler2
    };
    window.roller(doubleRollerProps);
  }, 2000);
});
</script>
{% endmacro %}
