{% set page = {
  title: "textarea"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

  {% section title="textarea" %}
    <h2>Дефолтная</h2>
    {{ element.textarea("Ваше имя") }}
    <h2>textarea_bgr</h2>
    {{ element.textarea('Ваше имя', 'textarea_bgr') }}
    <h2>textarea_brdr</h2>
    {{ element.textarea('Ваше имя', 'textarea_brdr') }}
    <h2>textarea_radius</h2>
    {{ element.textarea('Ваше имя', 'textarea_bgr textarea_radius') }}
    <h2>textarea_underlined</h2>
    {{ element.textarea('Ваше имя', 'textarea_underlined') }}
  {% code %}
    {{ element.textarea("Ваше имя") }}
    {{ element.textarea('Ваше имя', 'textarea_bgr') }}
    {{ element.textarea('Ваше имя', 'textarea_brdr') }}
    {{ element.textarea('Ваше имя', 'textarea_bgr textarea_radius') }}
    {{ element.textarea('Ваше имя', 'textarea_underlined') }}
  {% endsection %}

  {% section title="textarea[disabled]" %}
    {{ element.textarea_disabled("Ваше имя") }}
  {% code %}
    {{ element.textarea_disabled("Ваше имя") }}
  {% endsection %}

{% endblock %}
