{% macro textarea (placeholder, modificator) %}
  <textarea
    class="textarea {{ modificator }}"
    rows="5"
    placeholder="{{ placeholder }}"
  ></textarea>
{% endmacro %}

{% macro textarea_disabled (placeholder, modificator) %}
  <textarea
    class="textarea"
    rows="5"
    placeholder="{{ placeholder }}"
    disabled
  ></textarea>
{% endmacro %}
