.tabs_vertical {
  .tabs__list {
    display: inline-block;
    width: 20%;
    vertical-align: top;
  }

  .tabs__item {
    display: block;
  }

  .tabs__contentContainer {
    display: inline-block;
    width: 80%;
    vertical-align: top;
  }
}
