{% set page = {
  title: "Tabs",
  description: "Табы 📑"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

  {% section title="tabs" %}
    {{ element.clear('') }}
  {% code %}
    {{ element.clear('') }}
  {% endsection %}


  {% section title="tabs_bgr" %}
    {{ element.clear('tabs_bgr') }}
  {% code %}
    {{ element.clear('tabs_bgr') }}
  {% endsection %}

  {% section title="tabs_vertical" %}
    {{ element.clear('tabs_vertical') }}
  {% code %}
    {{ element.clear('tabs_vertical') }}
  {% endsection %}

{% endblock %}
