{% set page = {
  title: "Tabs",
  description: "Табы 📑"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

  {% section title="Clear" %}
    {{ element.clear('') }}
  {% code %}
    {{ element.clear('') }}
  {% endsection %}

{% endblock %}
