{% set page = {
  title: "Tabs",
  description: "Табы 📑"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

  {% section title="Clear", description="Без модификаторов" %}
    {{ element.clear("- кнопка") }}
  {% code %}
    {{ element.clear("- кнопка") }}
  {% endsection %}

{% endblock %}
