$menuLinkColor: #fff;
$menuBgr: #2F80ED;
$menuUnderline: #56CCF2;

.tabs__item {
  display: inline-block;
  padding: 15px 30px;
  font-size: 14px;
  color: #666;

  &:hover {
    color: #fff;
    background-color: #2F80ED;
    cursor: pointer;
  }

  &.isActive {
    color: #fff;
    background-color: #1C4D8E;
    cursor: pointer;
  }
}

.tabs__contentContainer {
  margin-top: 30px;
  font-size: 13px;
}

.tabs__contentItem {
  display: none;

  &.isOpen {
    display: block;
  } 
}
