{% set page = {
  title: "menuList",
  description: "Выпадающее меню горизонтальное"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

  {% section title="Clear", description="Горизонтальное меню" %}
    {{ element.clear("- кнопка") }}
  {% code %}
    {{ element.clear("- кнопка") }}
  {% endsection %}

{% endblock %}
