{% macro clear (name) %}
<ul class="menuList menuList_flatHover menuList_lvl0" >
  <li class="menuList__item menuList__item_lvl0 isParent">
    <a class="menuList__link" href="#">Пункт меню (родительский)</a>
    <button class="menuList_toggler">
      <i class="fa fa-sort-desc menuList_togglerIconDown" aria-hidden="true"></i>
    </button>
    <ul class="menuList menuList_lvl1">
      <li class="menuList__item menuList__item_lvl1 isDisabled">
        <a class="menuList__link" href="#">Пункт меню второго уровня запретили нажимать</a>
      </li>
      <li class="menuList__item menuList__item_lvl1 isParent">
        <a class="menuList__link" href="#">Пункт меню второго уровня (родительский)</a>
        <button class="menuList_toggler">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </button>
        <ul class="menuList menuList_lvl2">
          <li class="menuList__item menuList__item_lvl2">
            <a class="menuList__link" href="#">Пункт меню третьего уровня</a>
          </li>
          <li class="menuList__item menuList__item_lvl2">
            <a class="menuList__link" href="#">Пункт меню третьего уровня</a>
          </li>
          <li class="menuList__item menuList__item_lvl2 isDisabled">
            <a class="menuList__link" href="#">Пункт меню третьего уровня запретили нажимать</a>
          </li>
        </ul>
      </li>      
      <li class="menuList__item menuList__item_lvl1">
        <a class="menuList__link" href="#">Пункт меню второго уровня</a>
      </li>
    </ul>
  </li>
  <li class="menuList__item menuList__item_lvl0 isParent isCurrent">
    <a class="menuList__link" href="#">Пункт меню (родительский)</a>
      <button class="menuList_toggler">
        <i class="fa fa-sort-desc menuList_togglerIconDown" aria-hidden="true"></i>
      </button>
    <ul class="menuList menuList_lvl1 isCurrent">
      <li class="menuList__item menuList__item_lvl1">
        <a class="menuList__link" href="#">Пункт меню второго уровня</a>
      </li>
      <li class="menuList__item menuList__item_lvl1 isParent isCurrent">
        <a class="menuList__link" href="#">Пункт меню второго уровня (родительский)</a>
        <button class="menuList_toggler">
          <i class="fa fa-caret-right" aria-hidden="true"></i>
        </button>
        <ul class="menuList menuList_lvl2">
          <li class="menuList__item menuList__item_lvl2">
            <a class="menuList__link" href="#">Пункт меню третьего уровня</a>
          </li>
          <li class="menuList__item menuList__item_lvl2">
            <a class="menuList__link" href="#">Пункт меню третьего уровня</a>
          </li>
          <li class="menuList__item menuList__item_lvl2 isCurrent">
            <a class="menuList__link" href="#">Пункт меню третьего уровня</a>
          </li>
        </ul>        
      </li>
      <li class="menuList__item menuList__item_lvl1">
        <a class="menuList__link" href="#">Пункт меню второго уровня</a>
      </li>
    </ul>
  </li>  
  <li class="menuList__item menuList__item_lvl0">
    <a class="menuList__link" href="#">Пункт меню самый простой</a>
  </li>  
  <li class="menuList__item menuList__item_lvl0 isCurrent">
    <a class="menuList__link" href="#">Пункт меню активный</a>
  </li>
  <li class="menuList__item menuList__item_lvl0 isDisabled">
    <a class="menuList__link" href="#">Пункт меню запретили нажимать</a>
  </li>
</ul>
{% endmacro %}
