{% set page = {
  title: "Counter",
  description: "Счётчик количества товаров"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}
  {% section title="Counter" %}
    {{ element.clear('') }}
    <h2>counter_side</h2>
    {{ element.clear('counter_side') }}
  {% code %}
    {{ element.clear('') }}
    {{ element.clear('counter_side') }}
  {% endsection %}
{% endblock %}
