{% set page = {
  title: "button_icon_after",
  description: "button со значком после"
} %}

{% import "./templates.njk" as button %}

{% extends fesg.components %}

{% block body %}

  {% section title="Кнопка со значком после" %}
    {{ button.default("") }}
  {% usage %}
    Используется иконочный шрифт [fontawesome](http://fontawesome.io/icons/)
    
  {% code %}
    {{ button.default("") }}
  {% endsection %}

  {% section title="Кнопка со значком после и фоном" %}
    {{ button.bgr("") }}
  {% usage %}
    Используется иконочный шрифт [fontawesome](http://fontawesome.io/icons/)
    
  {% code %}
    {{ button.bgr("") }}
  {% endsection %}

{% endblock %}
