$menuLinkColor: #fff;
$menuBgr: #2F80ED;
$menuUnderline: #56CCF2;
$menuHoverBgr: #2666BE;
$menuCurrentBgr: #1C4D8E;
$menuDisabledBgr: #DCDCDC;
$menuDisabledFontBgr: #A1A1A1;
$menuLVL1Bgr: #FCFCFC;
$menuLVL1HoverBgr: #DCDCDC;
$menuLVL1Color: #666;


.menuList_flat {
  display: flex;
  flex-direction: row;

  .menuList__item_lvl0 > .menuList__link {
    height: 48px;
  }

  .menuList__item_lvl1 > .menuList__link {
    padding-left: 30px;
  }

  .menuList_lvl1 {
    position: absolute;
    z-index: 999;
  }
}


