{% macro clear (name) %}
<label class="form__inputName">Кастомный селект
  <div class="select select_custom select_icon js_select"> 
    <div class="select__sheckedValue">Выберите вариант</div>
    <ul class="select__optionList">
      <li class="option form__option" data-value="1">Договор</li>
      <li class="option form__option" data-value="2">Договор</li>
      <li class="option form__option" data-value="3">Договор</li>
      <li class="option form__option addElement" data-value="4">Новый тип документа</li>
    </ul>
  </div>
</label> 
{% endmacro %}
