{% macro default (name) %}
<button class="button button_icon_before">
  <i class="fa fa-play" aria-hidden="true"></i>Кнопка{{ name }}
</button>
{% endmacro %}

{% macro bgr (name) %}
<button class="button button_bgr button_icon_before">
  <i class="fa fa-play" aria-hidden="true"></i>Кнопка{{ name }}
</button>
{% endmacro %}


