{% macro clear (name) %}
<label class="form__inputName">Кастомный селект
  <div class="select select_custom js_multiSelect"> 
    <div class="select__sheckedValue">Выберите вариант</div>
    <ul style="select__optionList">
      <li class="option form__option" data-value="1">Договор</li>
      <li class="option form__option" data-value="2">Договор</li>
      <li class="option form__option" data-value="3">Договор</li>
    </ul>
  </div>
</label>
{% endmacro %}
