$minScreen: 320px;
$phonesScreen: 480px;
$tabletsPortraitScreen: 768px;
$tabletsLandscapeScreen: 992px;
$laptopsScreen: 1270px;

@import "hello/styles";
@import "image/styles";

@import "breadcrumbs/styles";

@import "button/styles";
@import "button/_bgr";
@import "button/_brdr";
@import "button/_radius";
@import "button/_circle";
@import "button/_shdw";
@import "button/_icon_after";
@import "button/_icon_before";

@import "checkbox/styles";
@import "checkbox/_fa";

@import "counter/styles";
@import "counter/_side";

@import "dropdownMenu/styles";
@import "dropdownMenu/_brdr";
@import "dropdownMenu/_underlined";
@import "dropdownMenu/_bgr";

@import "collapseCard/styles";
@import "collapseCard/_bgr";
@import "collapseCard/_underlined";

@import "form/styles";

@import "input/styles";
@import "input/_bgr";

@import "input/_bgr";
@import "input/_brdr";
@import "input/_radius";
@import "input/_underlined";

@import "menuList/styles";
@import "menuList_flat/styles";
@import "menuList_flatHover/styles";

@import "miniCard/styles";
@import "miniCard/_default";

@import "radio/styles";
@import "radio/_fa";

@import "roller/styles";

@import "stars/styles";

@import "tabs/styles";
@import "tabs_vertical/styles";

@import "textarea/styles";
@import "textarea/_bgr";
@import "textarea/_brdr";
@import "textarea/_radius";
@import "textarea/_underlined";

@import "customSelect/styles";
// @import "select_multiSelect/styles";

@import "upload/styles";
@import "upload/_button/styles";
