{% set page = {
  title: "textarea_brdr",
  description: "textarea с бордером"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

  {% section title="textarea_brdr" %}
    {{ element.textarea("Ваше имя") }}
  {% code %}
    {{ element.textarea("Ваше имя") }}
  {% endsection %}

  {% section title="textarea_brdr[disabled]" %}
    {{ element.textarea_disabled("Ваше имя") }}
  {% code %}
    {{ element.textarea_disabled("Ваше имя") }}
  {% endsection %}

{% endblock %}
