$bgr: #fff;
$bgrActive: #ED1F1F;
$checkboxBorderSize: 2px;
$checkMarkAreaRadius: 2px;
$checkMarkAreaSize: 22px;
$checkMarkColor: #fff;
$checkMarkTextSize: $checkMarkAreaSize - $checkboxBorderSize * 2;

$checkMarkBorderColor: #C4C4C4;

$textPadding: 5px;

$color: #333;
$textSize: $checkMarkTextSize;

.checkbox {
  display: inline-block;
  font-size: 0;
  cursor: pointer;
  user-select: none;
}

.checkbox__pseudo {
  position: relative;
  display: inline-block;
  width: $checkMarkAreaSize;
  height: $checkMarkAreaSize;
  vertical-align: top;
  border: $checkboxBorderSize solid $checkMarkBorderColor;

  font-size: 0;
  text-align: center;

  border-radius: $checkMarkAreaRadius;
  background-color: $bgr;

  &:after {
    content: ' ';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    opacity: 0;
    background-color: rgba($bgrActive, 0.4);
    border-radius: 50%;

    transition: opacity 1s linear;
  }
}

.checkbox__input {
  position: absolute;
  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.checkbox__text {
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% - #{$checkMarkAreaSize});
  vertical-align: top;
  padding-left: $textPadding;
  font-size: $textSize;
}

.checkbox__input:checked + .checkbox__pseudo {
  border: 2px solid $bgrActive;
  background-color: $bgrActive;

  &:before {
    position: relative;
    z-index: 1;
    content: '\2713';
    display: inline-block;
    vertical-align: middle;
    font-size: $checkMarkTextSize;
    line-height: $checkMarkAreaSize - $checkboxBorderSize * 2;
    color: $checkMarkColor;
  }
}

.checkbox__input:focus + .checkbox__pseudo {
  &:after {
    animation: fadeInAndOut 1s ease;
  }
}

@keyframes fadeInAndOut {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
