{% set page = {
  title: "detailCard",
  description: "Детальная карточка товара 🍔"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

  {% section title="detailCard" %}
  <div style="max-width: 1170px; margin: 0 auto;">
    {{ element.clear('detailCard_default') }}
  </div>
  {% code %}
    {{ element.clear('detailCard_default') }}
  {% endsection %}

{% endblock %}
