{% macro bgr (name) %}
<div class="search">
  <form class="search__form" action="#">
    <input class="input input_brdr search__input" type="search" name="search">
    <button class="search__button" aria-label="Искать"></button>
  </form>
</div>
{% endmacro %}
