{% set page = {
  title: "Button_circle",
  description: "Круглая кнопка"
} %}

{% import "./templates.njk" as button %}

{% extends fesg.components %}

{% block body %}

  {% section title="Без модификаторов" %}
    {{ button.clear("") }}
  {% code %}
    {{ button.clear("") }}
  {% endsection %}

  {% section title="Круглая кнопка с фоном" %}
    {{ button.default("") }}
  {% code %}
    {{ button.default("") }}
  {% endsection %}

  {% section title="Со значком" %}
    {{ button.sign("") }}
  {% code %}
    {{ button.sign("") }}
  {% endsection %}

  {% section title="Круглая кнопка с фоном длинный текст" %}
    {{ button.default(" много текста") }}
  {% code %}
    {{ button.default(" много текста") }}
  {% endsection %}

{% endblock %}
