$main: #2F80ED;
$default: #C4C4C4;
$text: #666;
$background: #fff;

.input_underlined {
  border-bottom-color: $default;

  &:focus {
    border-color: transparent;
    border-bottom-color: $main;
  }
}
