{% macro input (placeholder, modificator) %}
  <input type="text" class="input input_underlined" placeholder="{{ placeholder }}">
{% endmacro %}

{% macro input_disabled (placeholder, modificator) %}
  <input type="text" class="input input_underlined" placeholder="{{ placeholder }}" disabled>
{% endmacro %}
