{% set page = {
  title: "menuList",
  description: "Меню 📔"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

  {% section title="menuList" %}
    {{ element.clear('', 'max-width: 300px;') }}
  {% code %}
    {{ element.clear('', 'max-width: 300px;') }}
  {% endsection %}

  {% section title="menuList_flat" %}
    {{ element.clear('menuList_flat') }}
  {% code %}
    {{ element.clear('menuList_flat') }}
  {% endsection %}

  {% section title="menuList_flat menuList_flat_horizontal" %}
    {{ element.clear('menuList_flat menuList_flat_horizontal') }}
  {% code %}
    {{ element.clear('menuList_flat menuList_flat_horizontal') }}
  {% endsection %}
{% endblock %}
