$menuLinkColor: #fff;
$menuBgr: #2F80ED;
$menuUnderline: #56CCF2;
$menuHoverBgr: #2666BE;
$menuCurrentBgr: #1C4D8E;
$menuDisabledBgr: #DCDCDC;
$menuDisabledFontBgr: #A1A1A1;
$menuLVL1Bgr: #FCFCFC;
$menuLVL1HoverBgr: #DCDCDC;
$menuLVL1Color: #666;


.menuList_lvl0 {
  background-color: #fff;
}

.menuList__item {
  > .menuList_toggler {
    .menuList_togglerIconUp {
      display: none;
    }

    .menuList_togglerIconDown {
      display: inline-block;
    }
  }
}

.menuList__item.isParent {
  position: relative;
}

.menuList__item.isOpen {
  > .menuList {
    display: block;
  }

  > .menuList_toggler {
    .menuList_togglerIconUp {
      position: relative;
      top: 6px;
      display: inline-block;
    }

    .menuList_togglerIconDown {
      display: none;
    }
  }
}

.menuList_toggler {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 46px;
  border: 0;

  color: $menuLinkColor;
  background-color: transparent;
  outline: 0;

}

.menuList__item_lvl0 {
  position: relative;

  > .menuList__link {
    color: $menuLinkColor;
    background-color: $menuBgr;
  }


  &:hover {
    > .menuList__link {
      background-color: $menuHoverBgr;
    }
  }
}


.menuList__item_lvl0.isCurrent > .menuList__link {
  background-color: $menuCurrentBgr;
}

.menuList__link {
  position: relative;
  display: block;
  padding: 16px 30px;

  font-size: 14px;

  text-decoration: none;
}

.menuList_lvl1 {
  display: none;
}

.menuList__item_lvl1 {
  > .menuList__link {
    padding: 16px 30px 16px 40px;
    color: $menuLVL1Color;
    background-color: $menuLVL1Bgr;

    &:hover {
      background-color: $menuDisabledBgr;
    }
  }

  .menuList_toggler {
    color: $menuBgr;
  }
}

.menuList_lvl1.isCurrent {
  display: block;
}

.menuList__item_lvl1.isCurrent {
  > .menuList__link {
    color: $menuBgr;
  }

  > .menuList {
    display: block;
  }
}

.menuList_lvl2 {
  display: none;
}

.menuList__item_lvl2 {
  &:hover {
    > .menuList__link {
      background-color: $menuDisabledBgr;
    }
  }

  > .menuList__link {
    padding: 16px 30px 16px 50px;
    color: $menuLVL1Color;
    background-color: $menuLVL1Bgr;
  }

  .menuList_toggler {
    color: $menuBgr;
  }
}

.menuList__item_lvl2.isCurrent {
  > .menuList__link {
    color: $menuBgr;
  }
}

.menuList__item.isDisabled {
  > .menuList__link {
    color: $menuDisabledFontBgr;
    background-color: $menuLVL1HoverBgr;
    cursor: not-allowed;
  }
}
