{% macro bgr (name) %}
<ul class="breadcrumbs">
  <li class="breadcrumbs__listItem">
    <a href="#" class="breadcrumbs__link">Главная</a>
  </li>
  <li class="breadcrumbs__listItem">
    <a href="#" class="breadcrumbs__link">Каталог</a>
  </li>
  <li class="breadcrumbs__listItem">
    <a href="#" class="breadcrumbs__link">Подкатегория разных товаров</a>
  </li>
  <li class="breadcrumbs__listItem">
    <span class="breadcrumbs__currentItem">Карточка товара</span>
  </li>
</ul>
{% endmacro %}
