.miniCard_flat {
  .miniCard__imgContainer {
    display: inline-block;
    vertical-align: top;
    width: 38%;
  }

  .miniCard__contentContainer {
    display: inline-block;
    vertical-align: top;
    width: 62%;
    padding-left: 8.5%;
  }
}
