{% set page = {
  title: "miniCard",
  description: "Карточка товара в каталоге 🗃️"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

  {% section title="miniCard" %}
    {{ element.clear('БигБургер', '../assets/food-salad-healthy-lunch.jpg') }}
    {{ element.clear('Много разных острых и терпких специй', '../assets/spices.jpeg') }}
    {{ element.clear('Салат из яиц, огурцов, моркови, капусты, соли, перца, оливкового масла', '../assets/salad.jpeg') }}
    <h2>miniCard_default</h2>
    {{ element.clear('Стул для пацанов из Appsweb', '../assets/chair.jpg', 'miniCard_default') }}
    <h2>miniCard_flat</h2>
    {{ element.clear('БигБургер', '../assets/food-salad-healthy-lunch.jpg', 'miniCard_flat') }}
    <h2>miniCard_flat miniCard_default</h2>
    {{ element.clear('БигБургер', '../assets/food-salad-healthy-lunch.jpg', 'miniCard_flat miniCard_default') }}
  {% code %}
    {{ element.clear('БигБургер') }}
  {% endsection %}

{% endblock %}
