{% set page = {
  title: "miniCard",
  description: "Карточка товара в каталоге"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

  {% section title="miniCard" %}
    {{ element.clear('БигБургер', '../assets/food-salad-healthy-lunch.jpg') }}
    {{ element.clear('Много разных острых и терпких специй', '../assets/spices.jpeg') }}
    {{ element.clear('Салат из яиц, огурцов, моркови, капусты, соли, перца, оливкового масла', '../assets/salad.jpeg') }}

  {% code %}
    {{ element.clear('БигБургер') }}
  {% endsection %}

{% endblock %}
