$imgHeight: 200px;

.miniCard {
  display: inline-block;
  vertical-align: top;
  min-width: 250px;
  max-width: 300px;
}

.miniCard__imgContainer {
  position: relative;
}

.miniCard__imgLink {
  display: block;
  overflow: hidden;
  height: $imgHeight;
  width: 100%;
  font-size: 0;
}

.miniCard__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}
