$imgRelativeHeight: 100%;
$quickViewBackground: rgba(3, 3, 3, 0.6);
$quickViewColor: #fff;
$handlerButtonSize: 45px;
$handlerButtonBackground: rgba(196, 196, 196, 0.8);
$handlerIconSize: 22px;

.miniCard {
  display: inline-block;
  vertical-align: top;
  min-width: 250px;
  max-width: 300px;
}

.miniCard__wrap {
  font-size: 0;
}

.miniCard__imgContainer {
  position: relative;
  overflow: hidden;
}

.miniCard__imgLink {
  display: block;
  overflow: hidden;
  width: 100%;
  font-size: 0;
}

.miniCard__imgParentSpreader {
  position: relative;
  padding-bottom: $imgRelativeHeight;
}

.miniCard__imgChildSpreader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.miniCard__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

.miniCard__stickersContainer {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}

.miniCard__sticker {
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  font-size: 14px;
  line-height: 1;
  background-color: #fff;
}

.miniCard__quickViewOverlay {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: $quickViewBackground;
  color: $quickViewColor;
  transition: all 0.6s linear;
}

.miniCard__imgContainer:hover {
  .miniCard__quickViewOverlay {
    bottom: 0;
  }
}

.miniCard_quickViewIcon {
  font-size: 30px;
}

.miniCard__handlersContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.miniCard__handler {
  display: block;
  height: $handlerButtonSize;
  width: $handlerButtonSize;
  margin-bottom: 5px;
  border: 0;
  padding: 0;
  text-align: center;
  background-color: $handlerButtonBackground;
  border-radius: 50%;

  i {
    font-size: $handlerIconSize;
    line-height: $handlerButtonSize;
  }

  &:hover {
    .fa-balance-scale {
      color: #3E6EB5;
    }

    .fa-heart {
      color: #DE2626;
    }
  }
}

.miniCard__handler.isActive {
  .fa-balance-scale {
    color: #3E6EB5;
  }

  .fa-heart {
    color: #DE2626;
  }
}

.miniCard__contentWrap {
  font-size: 14px;
}

.miniCard__name {
  display: block;
}

.miniCard__priceContainer {
  font-size: 16px;
}

.miniCard__flatPriceWrap {
  display: none;
}
