{% import "../stars/templates.njk" as stars %}
{% import "../counter/templates.njk" as counter %}
{% import "../button/templates.njk" as button %}


{% macro clear (name, src) %}
<div class="miniCard">
  <div class="miniCard__wrap">

    <div class="miniCard__imgContainer">

      <a href="#" class="miniCard__imgLink">
        <img
          class="miniCard__img"
          src="{{src}}"
          alt="{{name}}"
        >
      </a>

      <div class="miniCard__quickViewOverlay">
        <div class="miniCard_quickViewIcon">
          <i class="fa fa-eye"></i>
        </div>
        <div class="miniCard__quickViewTitle">
          Быстрый просмотр
        </div>
      </div>

      <div class="miniCard__stickersContainer">
        <div class="miniCard__sticker">
          <span>-20%</span>
        </div>
        <div class="miniCard__sticker">
          <span>Хит</span>
        </div>
        <div class="miniCard__sticker">
          <span>Новинка</span>
        </div>
      </div>

      <div class="miniCard__handlersContainer">
        <button
          type="button"
          name="compare"
          class="miniCard__handler"
        >
          <i class="fa fa-balance-scale"></i>
        </button>
        <button
          type="button"
          name="like"
          class="miniCard__handler miniCard__handler_isActive"
        >
          <i class="fa fa-heart"></i>
        </button>
      </div>

    </div>

    <div class="miniCard__contentContainer">
      <div class="miniCard__contentWrap">
        <div class="miniCard__name">{{name}}</div>
        {{ stars.bgr('3_', 'miniCard__stars') }}
        <div class="miniCard__priceContainer">
          <del class="miniCard__oldPrice">47 970 руб.</del>
          <ins class="miniCard__currentPrice">43 173 руб.</ins>
        </div>
        <div class="minCard__description">
          <p>котлета, соус Чили мясной, соус Smoke, салат Айсберг, лечо из сладкого перца, сыр Чеддер, луковые кольца</p>
        </div>
        {{ counter.clear('minCard_counter') }}
        {{ button.clear('В корзину', 'button_bgr') }}
      </div>
    </div>

  </div>
</div>
{% endmacro %}
