{% macro default (name) %}
  <a href="#" class="link">Hello you {{ name }}</a>
{% endmacro %}

{% macro longform (name) %}
  <p class="hello hello--longform">
    <strong class="hello__highlight">Hello {{ name}}!</strong>
    How are you?
  </p>
{% endmacro %}
 