{% set images = [
  '../assets/food-salad-healthy-lunch.jpg',
  '../assets/bender.jpeg',
  '../assets/spices.jpeg',
  '../assets/salad.jpeg',
  '../assets/chair.jpg'
]
%}

{% set modificators = {
  slider: 'slider_notloaded slider_notloaded_preloader js-exampleSlider'
}
%}
