{% set images = [
  '../assets/food-salad-healthy-lunch.jpg',
  '../assets/bender.jpeg',
  '../assets/spices.jpeg',
  '../assets/salad.jpeg',
  '../assets/chair.jpg'
]
%}

{% set imageThumbs = [
  '../assets/food-salad-healthy-lunch@50.jpg',
  '../assets/bender@50.jpeg',
  '../assets/spices@50.jpeg',
  '../assets/salad@50.jpeg',
  '../assets/chair@50.jpg'
]
%}

{% set modificators = {
  slider: 'slider_notloaded slider_notloaded_preloader js-exampleSlider'
}
%}

{% set detailCardSliderModificators = {
  slider: 'slider_notloaded slider_notloaded_preloader js-detailCardSlider'
}
%}
