
{% set page = {
  title: "Slider",
  description: "Слайдер на «LightSlider» 📺"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

{% import "./data.njk" as data %}


  {% section title="slider" %}
  <div style="max-width: 500px;">
    <div class="slider__outer">
      {{ element.clear(data.images, data.modificators) }}
      <div class="slider__toggler slider__toggler_left">
        <span>←</span>
      </div>
      <div class="slider__toggler slider__toggler_right">
        <span>→</span>
      </div>
    </div>
  </div>
  {% code %}
<div class="slider__outer detailCard__sliderOuter">
  {{ element.clear(images, modificators) }}
  <div class="slider__toggler slider__toggler_left">
    <span>←</span>
  </div>
  <div class="slider__toggler slider__toggler_right">
    <span>→</span>
  </div>
</div>
  {% endsection %}

{% endblock %}
