
{% set page = {
  title: "Slider",
  description: "Слайдер на «LightSlider» 📺"
} %}

{% import "./templates.njk" as element %}

{% extends fesg.components %}

{% block body %}

{% set images = [
  '../assets/food-salad-healthy-lunch.jpg',
  '../assets/spices.jpeg',
  '../assets/salad.jpeg',
  '../assets/chair.jpg'
]
%}

{% set modificators = {
  slider: 'slider_notloaded slider_notloaded_preloader js-exampleSlider'
}
%}


  {% section title="slider" %}
  <div style="max-width: 500px;">
    <div class="slider__outer detailCard__sliderOuter">
      {{ element.clear(images, modificators) }}
      <div class="slider__toggler slider__toggler_left">
        <span>←</span>
      </div>
      <div class="slider__toggler slider__toggler_right">
        <span>→</span>
      </div>
    </div>
  </div>
  {% code %}
<div class="slider__outer detailCard__sliderOuter">
  {{ element.clear(images, modificators) }}
  <div class="slider__toggler slider__toggler_left">
    <span>←</span>
  </div>
  <div class="slider__toggler slider__toggler_right">
    <span>→</span>
  </div>
</div>
  {% endsection %}

{% endblock %}
