{% macro clear (images, modificators) %}
{% set firsImageSrc = images[0] %}
<ul class="slider {{modificators.slider}}">
  {% for sliderImageSrc in images %}
    <li class="slider__item {{modificators.sliderItem}}">
      <div class="slider__parentSpreader">
        <div class="slider__childSpreader">
          {% if loop.index == 1 %}
          <img class="slider__img {{modificators.sliderImg}}" src="{{sliderImageSrc}}" alt="">
          {% else %}
          <img class="slider__img {{modificators.sliderImg}}" src="{{firsImageSrc}}"  data-src="{{sliderImageSrc}}" alt="">
          {% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
{% endmacro %}
